{% extends 'HETICAppBundle::template.html.twig' %}

{% block title %} {{parent()}} - Confirmation Paiement {% endblock title %}

{% block main %}
<main id="cart">
    <div class="container">
        <div class="row">
            <div style="text-align:center;" class="col-sm-12">
                <h1>- Confirmation de Paiement -</h1>
                <br>
                <p style="font-size:1.4em;">Bonjour <b>Utilisateur</b>,
                Nous vous confirmons la récéption de votre commande pour un montant de <b>XXX</b> <br>
                Vous serez livré à l'adresse suivante : <b>xxxxx</b> dans <b>xxxx</b> de minutes.<br> 
                Nous vous remercions de la confiance que vous porté à notre service.
<br>
<br>
                A bientôt !                 
                </p>
                
            </div>
        </div>
    </div>
</main>

{% endblock main %}
