{% extends 'HETICAppBundle::template.html.twig' %}

{% block main %}

<div id="wrapper" class="active">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#">Dashboard</a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li><a>Analytics</a></li>
          <li><a>Ventes</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
              
              <table class="table table-condensed">
                <thead>
                 <tr>
                 <th></th>
                  <th>Semaine</th>
                  <th>Mois</th>
                 </tr>
                </thead>
                <tbody>
                  <tr>
                  <th>Total des commandes</th>
                  <td></td>
                 </tr>
                 <tr>
                  <th>Chiffre d'affaire</th>
                  <td></td>
                 </tr>
                 <tr>
                  <th>Panier moyen</th>
                  <td></td>
                 </tr>
                </tbody>
              </table>
              
          </div>
        </div>
      </div>
      
    </div>

{% endblock main %}