{% extends 'HETICAppBundle::layout.html.twig' %}

{% block template %}

<header>

</header>

{% block main %}
{% endblock main %}

<footer class="footer">
	<div class="logo"></div>
	<p>Mentions Légales - Mentions Légales - Mentions Légales - Mentions Légales</p>
	<p><div class="logo"></div><div class="logo"></div><div class="logo"></div></p>
<footer>

{% endblock template %}
